apiVersion: v2
name: elasticsearch-kibana
description: Configurable Deployment of Elasticsearch and Kibana Custom Resources Wrapped Inside a Helm Chart.
version: 1.22.0-bb.0
appVersion: 8.16.0
dependencies:
  - name: gluon
    version: 0.5.10
    repository: oci://registry1.dso.mil/bigbang
  - name: prometheus-elasticsearch-exporter
    repository: file://./deps/prometheus-elasticsearch-exporter
    version: 6.5.0
    condition: metrics.enabled
    alias: metrics
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Kibana: 8.16.0
    - Elasticsearch: 8.16.0
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    This chart has no upstream and is maintained entirely by the Big Bang team. It is 
    (usually) updated any time new versions of elasticsearch and kibana are released
    upstream. The changelog for both can be found at the following places:

    - [Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/es-release-notes.html)
    - [Kibana](https://www.elastic.co/guide/en/kibana/current/release-notes.html)
  helm.sh/images: |
    - name: kibana
      image: registry1.dso.mil/ironbank/elastic/kibana/kibana:8.16.0
    - name: elasticsearch
      image: registry1.dso.mil/ironbank/elastic/elasticsearch/elasticsearch:8.16.0
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: script-tests
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/stedolan/jq:1.7
    - name: exporter
      condition: metrics.enabled
      image: registry1.dso.mil/ironbank/opensource/bitnami/elasticsearch-exporter:1.8.0
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.30.6
