apiVersion: v2
name: elasticsearch-kibana
description: Configurable Deployment of Elasticsearch and Kibana Custom Resources Wrapped Inside a Helm Chart.
version: 1.3.1-bb.1
appVersion: 8.7.0
dependencies:
  - name: gluon
    version: 0.3.2
    repository: oci://registry1.dso.mil/bigbang
  - name: prometheus-elasticsearch-exporter
    repository: file://./deps/prometheus-elasticsearch-exporter
    version: 4.14.0
    condition: metrics.enabled
    alias: metrics
annotations:
  bigbang.dev/applicationVersions: |
    - Kibana: 8.7.1
    - Elasticsearch: 8.7.0
  helm.sh/images: |
    - name: kibana
      image: registry1.dso.mil/ironbank/elastic/kibana/kibana:8.7.1
    - name: elasticsearch
      image: registry1.dso.mil/ironbank/elastic/elasticsearch/elasticsearch:8.7.0
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.0.0
    - name: script-tests
      condition: bbtests.enabled 
      image: registry1.dso.mil/ironbank/stedolan/jq:1.6
    - name: exporter
      condition: metrics.enabled
      image: registry1.dso.mil/ironbank/opensource/bitnami/elasticsearch-exporter:1.5.0-debian-11-r17
