{{- if include "elasticsearch.shouldDeployUpgradeResources" . }}
  {{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: api-egress-upgrade-job
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": hook-succeeded,hook-failed,before-hook-creation
spec:
  egress:
  - {{- toYaml .Values.networkPolicies.egress.definitions.kubeAPI | nindent 4 }}
  podSelector:
    matchLabels:
      app.kubernetes.io/name: bigbang-ek-upgrade-job
  policyTypes:
  - Egress
  {{- end }}
{{- end }}